/* Global styles changed to match the UCSB brand */

a {
    color: #003660;
}

a:hover {
    color: #003660;
    text-decoration: underline;
}
/* Custom navbar styles */
#navbarFixed .navbar-brand.custom-logo {
    padding: 0;
    width: 350px;
    height: auto;
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .navbar-right {
        padding-top: .8rem;
    }
}

.navbar-default .navbar-nav>li>a {
    color: #003660;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #003660;
    text-decoration: underline;
}

#navbarFixed form.navbar-form-link a.ui-commandlink, #navbarFixed ul.navbar-nav li.dropdown span.dropdown-toggle {
    color: #003660;
}

#navbarFixed form.navbar-form-link a.ui-commandlink:hover, #navbarFixed ul.navbar-nav li.dropdown span.dropdown-toggle:hover {
    color: #003660;
    text-decoration: underline;
}

.dropdown-menu>li>a {
    color: #003660;
}

.dropdown-menu>li>a:hover {
    color: #003660;
    text-decoration: underline;
}

#navbarFixed .dropdown.accountName .logout a {
    color: #003660;
}

#navbarFixed .dropdown.accountName .logout a:hover {
    color: #003660;
    text-decoration: underline;
}

/* Just a bit of space between the navbar and the header */
#dataverseHeader {
    margin: 10px auto;
}

#breadCrumbPanel {
    margin-top: 2em;
}

/* Main content styles */

#dataverseHeader .dataverseHeaderName span.label.label-unpublished {
    color: #3d4952;
}

span.label-warning {
    background-color: #febc11;
}

