/* Global styles to ensure footer is visible */
html, body {
    height: 100%;
}
#content.container {
    min-height: calc(100% - 210px);
    margin-bottom: -142px; 
}
#content.container:after {
    content: "";
    display: block;
}

.footer div, .footer p, .footer h4, .footer h5, .footer h6, .footer a {
    border-color: #fff;
    color: #fff !important;
}

/* Global styles changed to match the UCSB brand */

a {
    color: #003660;
}

a:hover {
    color: #003660;
    text-decoration: underline;
}
/* Custom navbar styles */
#navbarFixed .navbar-brand.custom-logo {
    padding: 0;
    width: 350px;
    height: auto;
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .navbar-right {
        padding-top: .8rem;
    }
}

.navbar-default .navbar-nav>li>a {
    color: #003660;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #003660;
    text-decoration: underline;
}

#navbarFixed form.navbar-form-link a.ui-commandlink, #navbarFixed ul.navbar-nav li.dropdown span.dropdown-toggle {
    color: #003660;
}

#navbarFixed form.navbar-form-link a.ui-commandlink:hover, #navbarFixed ul.navbar-nav li.dropdown span.dropdown-toggle:hover {
    color: #003660;
    text-decoration: underline;
}

.dropdown-menu>li>a {
    color: #003660;
}

.dropdown-menu>li>a:hover {
    color: #003660;
    text-decoration: underline;
}

#navbarFixed .dropdown.accountName .logout a {
    color: #003660;
}

#navbarFixed .dropdown.accountName .logout a:hover {
    color: #003660;
    text-decoration: underline;
}

/* Just a bit of space between the navbar and the header */
#dataverseHeader {
    margin: 10px auto;
}

#breadCrumbPanel {
    margin-top: 2em;
}

/* Main content styles */

#dataverseHeader .dataverseHeaderName span.label.label-unpublished {
    color: #3d4952;
}

span.label-warning {
    background-color: #febc11;
}

/* Footer styles */

footer {
    background-color: #003660;
    position: relative;
    text-align: left;
    height: auto;
    color: #ffffff !important;
    bottom: -130px;
}

.field--name-field-blades {
    box-sizing: border-box;
    clear: both;
    float: left;
    width: 100%;
}

.field--name-field-blades .paragraph--type--column {
    box-sizing: border-box;
    z-index: 2;
}

@media (max-width: 768px) {
    .field--name-field-blades .paragraph--type--column {
        height: auto !important;
    }
}

.footer .ucsb-wordmark {
    border-bottom: 1px solid rgba(255,255,255,.5);
    height: 50px;
    margin-bottom: 16px;
}

.footer .ucsb-wordmark svg {
    display: block;
    height: auto;
    width: 250px;
    padding-top: 20px;
}

.footer svg path {
    fill: #fff;
}

.footer .contact-info {
    line-height: 1.5;
    padding-bottom: 15px;
}

.footer-bottom {
    background-color: #002b4c;
    box-sizing: border-box;
    clear: both;
    float: left;
    font-size: 1.2rem;
    padding: 16px 0 48px 0;
    width: 100%;
}

@media (min-width: 992px) {
    .footer-bottom {
        padding: 16px 20px 48px 20px;
    }
}

.footer-bottom div, .footer-bottom p, .footer-bottom a {
    border-color: #fff;
    color: #fff !important;
}

.footer-bottom span, .footer-bottom a.terms {
    display: inline-block;
    margin-right: 16px;
}
